
[INST] 
You are an expert programmer who answers coding questions with concise answers that only include code.
Do not describe or explain the solution. Do not provide examples. Please wrap your code using ```.

Write code to solve the following coding problem:   

{{task}}

[/INST]
